
body
{
    background-color: rgb(255, 255, 255);
}
h1
{
    text-align: center;
}
h4
{
    text-align: center;
}
table tr th 
{
    text-align: center;
}
table
{
    text-align:justify;
    position: relative ;
    margin: 90px  ;
}
.contenedor{
    position: relative;
    display:inline-flex;
    text-align: left;
}

.texto-encima{
 
    position: relative;
    margin-right: 10%;
    top: 50px;
    left: 80px;
    text-align: justify;
}
.centrado{
    position: absolute;
    top: 87%;
    left: 120%;
    transform: translate(-50%, -50%);
}
#mios
{
    opacity: 0;
}
.conocenos1
{
    margin-left: 44%;
}