.slider
{
    overflow: hidden;
    width: 95%;
    margin:auto;
}
.slider ul{
    display: flex;
    width: 400%;
    padding: 0;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-out;
}
.slider li
{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes cambio 
{
    0%{margin-left: 0;}   
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}